@import "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --color-nav: #18222f;
  --color-page: #2b3441;
  --color-card: #47566a;
  --color-card-hover: #4f5e74;
  --color-default-text: #f1f3f5;
  --color-blue-accent: #0084d4;
  --color-blue-accent-hover: #009fff;

  --font-family-sans: "Geist", sans-serif;
  --font-family-mono: "Geist Mono", monospace;
}

@layer base {
  h1,
  h2,
  h3,
  h4 {
    font-weight: bold;
  }

  h1 {
    font-size: 2.25rem;
  }
  h2 {
    font-size: 1.875rem;
  }
  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.25rem;
  }

  p {
    font-size: 0.875rem;
    color: var(--color-default-text);
  }

  form {
    border-radius: 0.125rem;
    padding: 4;
  }
  label {
    font-size: 1.1rem;
    font-weight: 600;
    margin-top: 16px;
  }
  input,
  select,
  textarea {
    width: 100%;
    border-radius: 0.125rem;
    background-color: var(--color-card);
    color: var(--color-default-text);
    border: 1px solid transparent;
    transition: border-color 150ms ease-in-out;

    &:focus {
      border-color: var(--color-blue-accent);
      outline: none;
    }
  }
}

@layer components {
  * {
    margin: 0;
    padding: 0;
  }
  .icon {
    color: var(--color-default-text);
    font-size: 1.25rem;
    display: inline-block;
    width: 40px;
    height: 40px;
  }

  .btn {
    text-decoration: none;
    background: var(--color-blue-accent);
    color: var(--color-default-text);
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    transition-property: color, background-color;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
    display: block;
    margin-bottom: 12px;

    &:hover {
      background: var(--color-blue-accent-hover);
      text-decoration: none;
    }
  }
}
